-- CreateTable
CREATE TABLE "MVP_Hospital" (
    "patient_id" TEXT NOT NULL,
    "full_name" TEXT NOT NULL,
    "phone" TEXT,
    "department" TEXT,
    "email" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "MVP_Hospital_pkey" PRIMARY KEY ("patient_id")
);

-- CreateTable
CREATE TABLE "Clinical_EHR" (
    "id" TEXT NOT NULL,
    "patient_id" TEXT NOT NULL,
    "diagnosis" TEXT,
    "prescription" TEXT,
    "doctor_notes" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Clinical_EHR_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "admissions" (
    "admission_id" TEXT NOT NULL,
    "patient_id" TEXT NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'Admitted',
    "doctor_name" TEXT,
    "diagnosis" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "admissions_pkey" PRIMARY KEY ("admission_id")
);

-- CreateTable
CREATE TABLE "lab_orders" (
    "id" TEXT NOT NULL,
    "barcode" TEXT,
    "patient_id" TEXT NOT NULL,
    "doctor_id" TEXT,
    "test_type" TEXT NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'Pending',
    "assigned_technician_id" TEXT,
    "result_value" TEXT,
    "report_url" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "lab_orders_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "pharmacy_batch_inventory" (
    "id" TEXT NOT NULL,
    "medicine_id" TEXT NOT NULL,
    "batch_no" TEXT NOT NULL,
    "current_stock" INTEGER NOT NULL,
    "expiry_date" TIMESTAMP(3),
    "rack_location" TEXT,

    CONSTRAINT "pharmacy_batch_inventory_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "User" (
    "id" TEXT NOT NULL,
    "username" TEXT NOT NULL,
    "password" TEXT NOT NULL,
    "role" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "User_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "lab_test_inventory" (
    "id" TEXT NOT NULL,
    "test_name" TEXT NOT NULL,
    "price" DOUBLE PRECISION NOT NULL,
    "is_available" BOOLEAN NOT NULL DEFAULT true,

    CONSTRAINT "lab_test_inventory_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "lab_staff" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "role" TEXT NOT NULL,
    "is_on_shift" BOOLEAN NOT NULL DEFAULT true,

    CONSTRAINT "lab_staff_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "lab_audit_logs" (
    "id" TEXT NOT NULL,
    "action_type" TEXT NOT NULL,
    "barcode" TEXT,
    "details" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "lab_audit_logs_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "pharmacy_medicine_master" (
    "id" TEXT NOT NULL,
    "brand_name" TEXT NOT NULL,
    "generic_name" TEXT,
    "price_per_unit" DOUBLE PRECISION NOT NULL,
    "min_threshold" INTEGER NOT NULL DEFAULT 10,

    CONSTRAINT "pharmacy_medicine_master_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "pharmacy_sales_audit" (
    "id" TEXT NOT NULL,
    "action_type" TEXT NOT NULL,
    "medicine_name" TEXT NOT NULL,
    "batch_no" TEXT NOT NULL,
    "quantity_sold" INTEGER NOT NULL,
    "details" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "pharmacy_sales_audit_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "medical_notes" (
    "id" TEXT NOT NULL,
    "admission_id" TEXT NOT NULL,
    "note_date" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "note_type" TEXT NOT NULL,
    "details" TEXT NOT NULL,

    CONSTRAINT "medical_notes_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "discharge_summaries" (
    "id" TEXT NOT NULL,
    "admission_id" TEXT NOT NULL,
    "patient_name" TEXT,
    "generated_summary" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "discharge_summaries_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "lab_orders_barcode_key" ON "lab_orders"("barcode");

-- CreateIndex
CREATE UNIQUE INDEX "pharmacy_batch_inventory_batch_no_key" ON "pharmacy_batch_inventory"("batch_no");

-- CreateIndex
CREATE UNIQUE INDEX "User_username_key" ON "User"("username");

-- CreateIndex
CREATE UNIQUE INDEX "lab_test_inventory_test_name_key" ON "lab_test_inventory"("test_name");

-- CreateIndex
CREATE UNIQUE INDEX "pharmacy_medicine_master_brand_name_key" ON "pharmacy_medicine_master"("brand_name");

-- AddForeignKey
ALTER TABLE "pharmacy_batch_inventory" ADD CONSTRAINT "pharmacy_batch_inventory_medicine_id_fkey" FOREIGN KEY ("medicine_id") REFERENCES "pharmacy_medicine_master"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

